.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-shadow:1px 1px 1px #ffffff;
  background-color: var(--background-color-card);
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 10%;
  border: 2px solid var(--border-color-card);
  flex: 0 0 auto;
  margin: 1rem;
  padding: 1rem;
}
.card-header {
  width: 100%;
  margin: .8rem 0;
}
.card-title{
  font-size: 2rem;
  font-weight: 700;
  color: #292929
}
/* .bullet-pre-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
} */
.card-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .7rem 1rem;
}
.card-value {
  text-align: right;
  font-size: larger;
}
.pre-title {
  color: #747474;
  font-size: 1rem;
}

.info-title {
  font-weight: 700;
}
.bullet {
  width: fit-content;
  padding: .5rem;
  border-radius: 20px;
  display: flex;
  margin-left: auto;
}
i {
  font-size: 30px;
}
.bc {
  background-color: rgb(127, 255, 180);
  color: rgb(13, 114, 89);
}
.av {
  background-color: rgb(255, 236, 127);
  color: rgb(106, 114, 37);
}
.hc{
  background-color: rgb(235, 104, 104);
  color: rgb(80, 22, 22);
}
