.input-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: end;
  height: 45%;
  padding-top: 15%;
}
.input-row > button {
  width: 50rem;
  border: 1px solid #4e4e4e;
  background-color: #181818;
  border-radius: 10px;
  outline: none;
  color: #d3d3d3;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.input-container {
  display: flex;
  flex-flow: column nowrap;
}
.input-container > input, .input-container > input:focus, .input-container > input:focus-visible {
  /* background-color: var(--background-color-header); */
  /* border: 0; */
  outline: none;
  color: #d3d3d3;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #4e4e4e;
  background-color: #181818;
  border-radius: 10px;
}
.input-title {
  color: #d3d3d3;
  margin: .5rem 0;
}